<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title>Comment added to task</title>
</head>
<body>
    <p>
        Comment added to task
    </p>
    <p style="margin-bottom: 0; margin-top: 20px; font-size: 16px">
        {{  username }} {{ email }} pridal komentár k úlohe
    </p>
    <p style="margin-top: 0px; font-size: 16px; margin-bottom: 0px">
        Názov úlohy: #{{ taskId }} {{ taskTitle }}
    </p>


    <p style="margin-top: 20px; margin-bottom: 20px">
        Text komentáru:
        <br/>
        {{ commentBody }}
    </p>


    <p style="margin-top: 20px; margin-bottom: 20px">
        <a href={{ taskLink }}>
            {{ taskLink }}
        </a>
    </p>

    <p style="border-top-style: groove; max-width: 200px">
        Lan Helpdesk
        <br/>
        {{ signature }}
    </p>
</body>
</html>