<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title> Your task has been registered</title>
</head>
<body>
    <p>
        You have been assigned a task
    </p>
    <p style="margin-bottom: 0; margin-top: 20px">
        Creator: {{  username }} {{ email }}
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
        Requester: {{ requester }}
    </p>

    {% if changedParams %}
        <p style="margin-top: 0; margin-bottom: 0">
            <b>Uloha bola pridelena viacerym Assignerom:</b>
            <span>
                {{ changedParams }}
            </span>
        </p>
    {% endif %}

    <p style="margin-top: 20px; font-size: 16px; margin-bottom: 20px">
        Názov úlohy: #{{ taskId }} {{ subject }}
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
        Popis:
        <br/>
        {{ taskDescription }}
    </p>


    <p style="margin-top: 20px; margin-bottom: 20px">
        <a href={{ taskLink }}>
            {{ taskLink }}
        </a>
    </p>

    <p style="border-top-style: groove; max-width: 200px">
        Lan Helpdesk
        <br/>
        {{ signature }}
    </p>
</body>
</html>